---
import { Image } from 'astro:assets'
import FluterFireImg from '~/assets/imgs/flutter-social.webp'
import ProshopImg from '~/assets/imgs/proshop.webp'
import LinkdapImg from '~/assets/imgs/linkdap.webp'
import CovidTrackerImg from '~/assets/imgs/covid-tracker.webp'
import WeWeb3Img from '~/assets/imgs/weweb3.webp'

const projects = [
  {
    name: 'FlutterFire Social',
    src: 'https://codecanyon.net/item/flutterfire-social-messenger/25605604',
    img: FluterFireImg,
    description:
      'Fully functional social media app, people can post text, images, and like, comment. It has a chat feature, and a notification system. ',
    techs: [
      'icon-[logos--dart]',
      'icon-[logos--flutter]',
      'icon-[logos--firebase]',
      'icon-[logos--android-icon]',
      'icon-[logos--ios]',
    ],
  },
  {
    name: 'Linkdap.com',
    src: 'https://linkdap.fly.dev',
    img: LinkdapImg,
    description: 'Linkdap is a social media platform for sharing links.',
    techs: [
      'icon-[logos--typescript-icon]',
      'icon-[logos--react]',
      'icon-[logos--nextjs]',
      'icon-[logos--tailwindcss-icon]',
      'icon-[logos--supabase-icon]',
    ],
  },
  {
    name: 'Proshop',
    src: 'https://shr-proshop.herokuapp.com/',
    sourceCode: 'https://github.com/SHRJamal/proshop',
    img: ProshopImg,
    description: 'Proshop is an e-commerce platform built with MERN stack.',
    techs: [
      'icon-[logos--typescript-icon]',
      'icon-[logos--react]',
      'icon-[logos--nodejs]',
      'icon-[logos--express-icon]',
      'icon-[logos--mongodb-icon]',
      'icon-[logos--bootstrap]',
    ],
  },
  {
    name: 'Covider Tracker',
    src: 'https://covid-tracker.shrjamal.com',
    sourceCode: 'https://github.com/SHRJamal/covid-tracker',
    img: CovidTrackerImg,
    description: 'Covid Tracker is a web app that tracks covid cases.',
    techs: [
      'icon-[logos--typescript-icon]',
      'icon-[logos--react]',
      'icon-[logos--material-ui]',
      'icon-[logos--leaflet]',
    ],
  },
  {
    name: 'Web3 Template',
    sourceCode: 'https://github.com/weweb3/web3_template',
    img: WeWeb3Img,
    description: 'Web3 Template is a template for web3 projects.',
    techs: [
      'icon-[logos--typescript-icon]',
      'icon-[logos--tailwindcss-icon]',
      'icon-[logos--react]',
      'icon-[logos--nextjs]',
    ],
  },
]
---

<section id="projects" class="flex flex-col gap-1">
  <h2 class="text-4xl font-bold">Featured Projects</h2>
  <div class="flex flex-col gap-4">
    {
      projects.map((p) => (
        <div
          class:list={[
            'flex rounded p-2 gap-3 bg-secondary/20',
            'border-[1px] border-solid border-gray-400 shadow-lg relative',
            'min-h-[10rem]',
          ]}
        >
          <Image
            class="min-h-full w-[8rem] md:w-[12rem] rounded object-cover"
            width={320}
            height={480}
            src={p.img}
            alt={p.name}
          />
          <div class="flex-1 text-base-content min-h-full flex flex-col gap-1 ">
            <h3 class="text-xl font-bold">{p.name}</h3>
            <p class="flex-1">{p.description}</p>

            <div
              class:list={[
                'min-w-full flex flex-wrap gap-2 items-center justify-between',
              ]}
            >
              <div class="flex gap-2">
                {p.techs.map((tech) => (
                  // <img
                  //   class="h-5"
                  //   src={`/logos/${tech}.svg`}
                  //   alt={`${capitalize(tech)} logo`}
                  //   title={`${capitalize(tech)}`}
                  // />
                  <i class:list={['text-xl', tech]} />
                ))}
              </div>
              <div class="min-w-[6rem] flex-1" />
              <div class="flex gap-2 justify-end flex-1">
                {p.sourceCode && (
                  <a
                    class="btn border-2 btn-outline rounded gap-1 px-2"
                    title={`View ${p.name} source code`}
                    target="_blank"
                    rel="alternate"
                    href={p.sourceCode}
                  >
                    <span class="icon-[mdi--github] text-xl" />
                    <p>Code</p>
                  </a>
                )}
                {p.src && (
                  <a
                    class="btn bg-glass gap-1 px-2"
                    title={`Visit ${p.name}`}
                    href={p.src}
                    target="_blank"
                    rel="alternate"
                  >
                    <p>Visit</p>
                    <span class="icon-[mdi--arrow-right] text-xl" />
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
