---
import { Icon } from 'astro-icon'

const contactInfo = [
  {
    name: 'Github',
    url: 'https://github.com/shrjamal',
    icon: 'mdi:github',
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/shrjamal',
    icon: 'mdi:twitter',
  },
  {
    name: 'Email',
    url: 'me@shrjamal.com',
    icon: 'mdi:envelope-outline',
  },
  {
    name: 'Linkdin',
    url: 'https://www.linkedin.com/in/shrjamal',
    icon: 'mdi:linkedin',
  },
  {
    name: 'Telegram',
    url: 'https://t.me/jamalshr',
    icon: 'mdi:telegram',
  },
]
---

<section
  class="mx-auto mt-4 flex space-x-2 justify-center items-center"
  id="contact"
>
  {
    contactInfo.map((it) =>
      it.name === 'Email' ? (
        <div class="bg-glass rounded-xl col-span-3 p-2 flex flex-col items-center">
          <h3 class="text-lg flex items-center">
            <Icon class="mr-1 text-2xl" name={it.icon} size="20" />
            Email
          </h3>
          <span>{it.url}</span>
          <a
            class="underline text-accent text-sm flex items-center"
            href={`mailto:${it.url}`}
            title={it.name}
            target="_blank"
            rel="noreferrer"
          >
            Write me <Icon name="mdi:arrow-right" size="20" />
          </a>
        </div>
      ) : (
        <a
          class="bg-glass btn btn-circle btn-outline hover:bg-black"
          href={it.url}
          title={it.name}
          target="_blank"
          rel="noreferrer"
        >
          <Icon name={it.icon} class="text-3xl text-white" size="20" />{' '}
        </a>
      ),
    )
  }
</section>
