---
import UpworkImg from '~/assets/images/upwork.png'
import FiverrImg from '~/assets/images/fiverr.png'
import { Image } from 'astro:assets'
const experiences = [
  {
    description:
      'Top Rated Plus freelancer on Upwork, worked with more 30+ clients. I have 100% positive reviews on Upwork.',
    company: 'Upwork',
    img: UpworkImg,
    alt: 'Shrjamal Upwork Profile',
    link: 'https://www.upwork.com/freelancers/shrjamal',
    date: 'since 2022',
  },
  {
    description: 'Level 1 Seller in Fiverr with 100% positive reviews.',
    company: 'Fiverr',
    img: FiverrImg,
    alt: 'Shrjamal Fiverr Profile',
    link: 'https://www.fiverr.com/jamalshr',
    date: 'since 2018',
  },
]
---

<section id="experience" class="mt-8 flex flex-col items-center">
  <h2 class="gradient-text text-4xl">Experience</h2>
  <div class="mt-4 grid md:grid-cols-2 grid-cols-1 gap-4">
    {
      experiences.map((it) => (
        <a
          class="bg-glass w-80 flex flex-col rounded-xl p-2"
          href={it.link}
          title={it.alt}
          target="_blank"
          rel="noreferrer"
        >
          <Image
            class="bg-white h-[18rem] object-contain rounded-t-xl"
            src={it.img}
            alt={it.alt}
            loading="lazy"
          />
          <h3 class="mt-2 flex-1 ">{it.description}</h3>
        </a>
      ))
    }
  </div>
</section>
