---
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
import FluterFireImg from '~/assets/images/flutter-social.webp'
import ProshopImg from '~/assets/images/proshop.webp'
import LinkdapImg from '~/assets/images/linkdap.webp'
import CovidTrackerImg from '~/assets/images/covid-tracker.webp'
import WeWeb3Img from '~/assets/images/weweb3.webp'
import NFTTemplateImg from '~/assets/images/nft-marketplace.webp'

const projects = [
  {
    name: 'FlutterFire Social',
    link: 'https://codecanyon.net/item/flutterfire-social-messenger/25605604',
    demo: 'https://codecanyon.net/item/flutterfire-social-messenger/25605604',
    img: FluterFireImg,
  },
  {
    name: 'Proshop',
    link: 'https://github.com/SHRJamal/proshop',
    demo: 'https://github.com/SHRJamal/proshop',
    // demo: 'https://shr-proshop.herokuapp.com/',
    img: ProshopImg,
  },
  {
    name: 'Linkdap',
    link: 'https://linkdap.fly.dev',
    demo: 'https://linkdap.fly.dev',
    img: LinkdapImg,
  },
  {
    name: 'Covider Tracker',
    link: 'https://github.com/SHRJamal/covid-tracker',
    demo: 'https://covid-tracker.shrjamal.com',
    img: CovidTrackerImg,
  },
  {
    name: 'Web3 Template',
    link: 'https://github.com/weweb3/web3_template',
    demo: 'https://github.com/weweb3/web3_template',
    img: WeWeb3Img,
  },
  {
    name: 'NFT Marketplace',
    link: 'https://github.com/weweb3/nft-marketplace',
    demo: 'https://github.com/weweb3/nft-marketplace',
    img: NFTTemplateImg,
  },
]
---

<section id="projects" class="my-8 flex flex-col items-center">
  <span class="gradient-text text-4xl">Featured Projects</span>
  <h2 class="text-sm text-base-content">Some Things I&apos;ve built</h2>

  <div
    class="pt-4 container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    {
      projects.map((p) => (
        <div class="p-2 bg-glass rounded-xl flex flex-col ">
          <a
            href={p.link}
            title={p.name + ' source code'}
            target="_blank"
            rel="alternate"
          >
            <Image
              class="w-[25rem] h-[20rem] rounded-xl object-cover overflow-clip"
              loading="lazy"
              width={320}
              height={480}
              src={p.img}
              alt={p.name}
            />
            <h3 class="mt-2 mb-1 text-xl">{p.name}</h3>
          </a>

          <a
            class="flex items-center text-accent"
            href={p.demo}
            title={p.name + ' demo'}
            target="_blank"
            rel="alternate"
          >
            <p>Demo</p>
            <Icon
              name="mdi:arrow-right"
              class="text-xl transition-transform duration-1000 translate-x-2"
              size={20}
            />
          </a>
        </div>
      ))
    }
  </div>
</section>
