---
import { AppConfig } from '~/app'
import '~/app.pcss'

export interface Props {
  title?: string
  description?: string
  ogImg?: string
}

const title = `${Astro.props.title || AppConfig.title} | ${AppConfig.site_name}`
const description = Astro.props.description || AppConfig.description
const ogImg = Astro.props.ogImg || '/logo.webp'
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Icons -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(ogImg, Astro.url)} />
<meta property="og:image:width" content="657" />
<meta property="og:image:height" content="659" />
<meta property="og:image:alt" content={title} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content={AppConfig.site} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(ogImg, Astro.url)} />
<meta property="twitter:image:alt" content={title} />

<!-- Scripts -->
{
  import.meta.env.PROD ? (
    <>
      <script
        is:inline
        defer
        async
        src="https://um.shrjamal.com/script.js"
        data-website-id="bab83f14-841c-4947-9c68-e53a73016f3a"
      />
    </>
  ) : (
    <script is:inline>window['umami']=undefined</script>
  )
}
